[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
Flask = "*"
Flask-RESTful = "*"
Flask-JWT = "*"
Flask-SQLAlchemy = "*"
uWSGI = "*"
marshmallow = "==3.14.0"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.8"
